.admin-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.admin-sidebar {
  width: 250px;
  background: #1f2937;
  color: white;
  padding: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin: 15px 0;
}

.admin-sidebar a {
  color: white;
  text-decoration: none;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}


.admin-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.admin-topbar {
  background: #f3f4f6;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}


.admin-content {
  padding: 20px;
}
